.container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-content: center;
    margin-top: 170px;
    margin-bottom: 200px;
}
.img img {
    width: 700px;
    height: 700px;
}
.img {
    width: 50%;
    margin-left: 100px;
}
.text-container {
    width: 40%;
    font-size: 45px;
    font-family: sans-serif;
}
.product-name {
    font-size: 55px;
    color: #0351b1;
    font-weight: bolder;
}
.product-author {
    color: #4183c4;
    font-weight: 600;
}
.product-description {
    font-size: 25px;
    margin-top: 50px;
    color: black;
}