.Modal {
    position: fixed;
    z-index: 1102;
    background-color: #949494;
    width: 70%;
    border:1px solid #ccc;
    box-shadow: 2px 2px 2px black;
    padding: 16px;
    left: 15%;
    top: 20%;
    box-sizing:  border-box;
    animation-name: modalFade;
    animation-duration: .9s;
}

@keyframes modalFade {
    from {transform: translateY(-50%);opacity: 0;}
    to {transform: translateY(0);opacity: 1;}
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}


